---
server:
  port: 8085

spring:
  http:
    codecs:
      max-in-memory-size: 10MB
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lowerCaseServiceId: true

ecos:
  webapp:
    properties:
      gatewayMode: true
    x509:
      keys:
        application:
          location: classpath:ecos/x509/keys/application.key
    records:
      defaultApp: alfresco
      sourceIdMapping:
        uiserv/eform: uiserv/form
